button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link {
	border: none;
	border-radius: 1.55em;
	background: $color__background-button;
	color: #fff;
	line-height: 1;
	padding: .667em 1.333em;
	overflow-wrap: break-word;
	font-size: 1.125em;

	&:hover {
		background: $color__link-hover;
		border-radius: 1.55em;
	}

	&:active,
	&:focus {
	  background: $color__link-hover;
	  border-radius: 1.55em;
	}
}

form.search-form fieldset {
	margin: 0;
	border: 0;
}
