ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

ul.wp-block-latest-posts {
  margin: 0 !important;
}

.wp-block-latest-posts__post-excerpt {
  font-size: 0.9em;
  line-height: normal;
}

.wp-block-latest-posts li a {
  text-decoration: none;
  font-weight: 700;
}

.otstup {
  margin-left: 20px;
}
