.site {
  display: grid;
  @include push--auto;
  gap: 10px 20px;
  background-color: $color__background-screen;
  padding-top: 10px;
  justify-content: space-between;
}

.site-info,
.copyright {
  @include push--auto;
  background-color: #fcebdb;
  display: grid;
  margin-bottom: 10px;
  gap: 10px 20px;
}

.site {
  @include mq("iphone5") {
    width: 320px;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
    grid-template-columns: 100%;
  }
}

.site.product {
  @include mq("iphone5") {
    width: 320px;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 100%;
  }
}

.copyright {
  @include mq("iphone5") {
    width: 320px;
    grid-template-columns: 100%;
  }
}

.site-info {
  @include mq("iphone5") {
    width: 320px;
    grid-template-areas:
      "sections shopcat"
      "support subscribe"
      "logo logo";
    grid-template-columns: 1fr 1fr;
  }
}

.site,
.copyright,
.site.product {
  @include mq("phone") {
    width: 400px;
  }
}

.site-info {
  @include mq("iphone5") {
    padding: 0 10px;
  }
  @include mq("phone") {
    width: 400px;
  }
}
.site,
.site-info,
.copyright,
.site.product {
  @include mq("phone-wide") {
    width: 480px;
    padding: 0;
  }
}
.site,
.site-info,
.copyright,
.site.product {
  @include mq("phablet") {
    width: 550px;
  }
}

.site,
.site-info,
.copyright,
.site.product {
  @include mq("tablet-small") {
    width: 620px;
  }
}
.site,
.site.product {
  @include mq("tablet") {
    width: 750px;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
  }
}
.site-info {
  @include mq("tablet") {
    width: 750px;
    grid-template-areas: "logo sections shopcat support subscribe";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.site,
.site-info,
.copyright,
.site.product {
  @include mq("tablet-wide") {
    width: 1000px;
  }
}

.site,
.site-info,
.copyright,
.site.product {
  @include mq("desktop") {
    width: 1200px;
  }
}

.site-info {
  @include mq("desktop") {
    grid-template-columns: 300px 1fr 1fr 1fr 300px;
  }
}

.site,
.site-info,
.copyright,
.site.product {
  @include mq("desktop-wide") {
    width: 1400px;
  }
}

.copyright {
  border-top: #ccc 1px solid;
  padding-top: 10px;
}

div#page.site.frontpage {
  @include mq("desktop") {
    grid-template-areas:
      "header header header"
      "sidebar main sidebar-right"
      "footer footer footer";
    grid-template-columns: ($size__site-sidebar) auto ($size__site-sidebar);
  }
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area .sidebar {
  grid-area: sidebar;
  display: block;
  @include mq("tablet") {
    width: 300px;
  }
}

.widget-area .sidebar-right {
  grid-area: sidebar-right;
}

.footer-col {
  &.logo {
    grid-area: logo;
  }
  &.sections {
    grid-area: sections;
  }
  &.shopcat {
    grid-area: shopcat;
  }
  &.support {
    grid-area: support;
  }
  &.subscribe {
    grid-area: subscribe;
  }
}

.footer-col h4 {
  margin: 5px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    text-decoration: none;
    font-size: 0.9em;
  }
}
.site-footer {
  grid-area: footer;
  border-top: 1px solid #ccc;
}

.sidebar {
  display: block;
  @include mq("tablet") {
    width: 300px;
  }
}

.site-footer {
  background-color: #fcebdb;
  padding: 20px 0;
}

.google-captcha-notice {
  text-align: center;
  font-size: 11px;
  color: #606060;
}

@import "no-sidebar";
